<div class="row-fluid">
	<div class="span12">
		<div class="page-header">
			<h2>Editar cuenta</h2>
		</div>
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
		<%= f.error_notification %>

		<div class="form-inputs">
			<%= f.input :email, :required => true, :autofocus => true, :hint => false%>
			<%= f.input :password, :autocomplete => "off", :hint => "Si no desea cambiar la contrase침a deje en blanco", :required => false %>
			<%= f.input :password_confirmation, :required => false %>
			<%= f.input :current_password, :hint => "Confirme su contrase침a actual para confirmar los cambios", :required => true %>
		</div>

		<div class="form-actions">
			<%= f.button :submit, 'Actualizar', :class => 'btn btn-info' %>
			<%= link_to 'Cancelar', admin_jobs_path, :class => 'btn' %>
		</div>
		<% end %>
		<h3>Desea cancelar la cuenta?</h3>
		<p>
			<%= link_to "Click para eliminar su cuenta permanentemente", registration_path(resource_name), :data => { :confirm => "Esta usted seguro de eliminar su cuenta permanentemente?, no podr치 volver a recuperar la informaci칩n." }, :method => :delete %>.
		</p>
	</div>
</div>