<%= simple_form_for @job, :validate => true, :html => { :class => 'form-horizontal well', :multipart => true } do |f| %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong><i class="icon-bullhorn"></i> Información!</strong>
  Le recordamos que ColombiaCoder es un sitio especializado en oportunidades laborales para la industria del <em>software</em>, con el fin de encontrar los mejores talentos y amantes de la tecnología, si publica otro tipo de ofertas que no cumplen con dicho proposito, serán eliminadas y su cuenta será dada de baja sin previo aviso.
</div>
<fieldset>
	<legend>
		Información de la empresa
	</legend>
	<%= f.input :company_name, :input_html => { :class => 'span12' } %>
	<%= f.input :company_web_site, :input_html => { :class => 'span12' } %>
	<%= f.input :company_logo_url, :input_html => { :class => 'span12' } %>
	<%= f.input :company_description, :input_html => { :class => 'span12', :rows => 7 } %>
</fieldset>
<fieldset>
	<legend>
		Información de la oferta laboral
	</legend>
	<%= f.input :job_title, :input_html => { :class => 'span12', :maxlength => 80 } %>

	<%= f.input :location, :input_html => { :class => 'span12', :maxlength => 20} %>

	<%= f.input :job_description, :input_html => { :class => 'span12', :rows => 7 } %>
	
	<div class="control-group select optional">
		<label class="select optional control-label" for="job_technology_ids">Conocimientos técnicos</label>
		<div class="controls">
			<%= f.select :technology_ids, @job.technologies.collect {|x| [x.name, x.id]}, {}, :multiple => true, :class => 'span12' %>
			<p class="help-block">Ingrese los conocimientos técnicos mínimos que debe cumplir el candidato para aplicar a la oferta laboral, ej. Java, Ruby on Rails, .Net, Oracle, etc.</p>
		</div>
	</div>
	
	<div class="control-group">
		<div class="controls">
			<label class="checkbox"> <%= check_box_tag 'no_experience_required', nil, @job.no_experience_required == true %>
				<%= hidden_field_tag 'job[no_experience_required]', @job.no_experience_required %>
				¿Es una oferta laboral para candidatos sin experiencia? </label>
			<p class="help-block">
				ej. estudiantes, recien graduados, practicantes, etc.
			</p>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="radio"><%= radio_button_tag 'job[salary_negotiable]', true, @job.salary_negotiable == true %>
				<a href="#" rel="tooltip" title="Tenga presente que al detallar un rango salarial podrá obtener un mayor número de aplicantes"><i class="icon-info-sign"></i></a> Salario a convenir</label>
			<label class="radio"><%= radio_button_tag 'job[salary_negotiable]', false, @job.salary_negotiable == false %>
				&#243;, especifique un rango salarial</label>
			<div class="control-group">
				<label class="control-label">Salario</label>
				<div class="controls">
					<%= content_tag(:div, '', :id => 'slider_range')%>
					<p class="help-block">
						<%= content_tag(:span, '', :id => 'range_ini')%> - <%= content_tag(:span, '', :id => 'range_fin')%>
						<%= hidden_field_tag 'job[salary_range_ini]', @job.salary_range_ini %>
						<%= hidden_field_tag 'job[salary_range_fin]',  @job.salary_range_fin %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<%= f.association :job_types, :as => :check_boxes %>
	<div class="control-group">
		<label class="control-label">Como aplicar</label>
		<div class="controls">
			<label class="radio"> <%= radio_button_tag 'job[resume_directly]', true, @job.resume_directly == true %>
				Permitir que los candidatos adjunten su hoja de vida y se envíe directamente a un correo electrónico</label>
			<%= f.input :email_address, :input_html => { :class => 'span12', :disabled => @job.resume_directly == false } %>
			<label class="radio"> <%= radio_button_tag 'job[resume_directly]', false, @job.resume_directly == false %>
				&#243;, detalle como aplicar a la oferta laboral</label>
			<%= f.input :application_details, :input_html => { :class => 'span12', :rows => 4, :disabled => @job.resume_directly }%>
		</div>
	</div>
</fieldset>
<div class="form-actions">
	<%= button_tag(type: 'submit', :class => 'btn btn-primary', :name => 'preview_button', :disable_with => "Guardando...") do %>
	<i class=" icon-pencil"></i> Aceptar
	<% end %>
</div>
<% end %>