<% if flash[:expire] %>
	<div class="row-fluid">
		<div class="span12">
			<div class="alert alert-block">
				<strong>Ups!</strong> <%= flash[:expire] %>
			</div>
		</div>
	</div>
<% end %>
<div class="row-fluid">
	<div class="span9">
		<h2><%= job.job_title %></h2>
		<p>
			<% job.technologies.each do |skill| %>
			<%= content_tag :span, skill.name, :class => 'label label-info' %>
			<% end %>
		</p>
		<dl class="dl-horizontal">
			<dt>
				<strong>Empresa:</strong>
			</dt>
			<dd>
				<%= link_to job.company_name, job.company_web_site, :target => '_blank' %>
			</dd>
			<dt>
				<strong>Localizacion:</strong>
			</dt>
			<dd>
				<%= job.location %>
			</dd>
			<% if job.job_types.length > 0 %>
			<dt>
				<strong>Tipo de contrato:</strong>
			</dt>
			<dd>
				<%= job.job_types.to_sentence %>
			</dd>
			<% end %>
			<dt>
				<strong>Salario:</strong>
			</dt>
			<% if job.salary_negotiable %>
			<dd>
				Negociable
			</dd>
			<% else %>
			<dd>
				<%= number_to_currency(job.salary_range_ini, :locale => 'es-CO').concat(' - ').concat(number_to_currency(job.salary_range_fin, :locale => 'es-CO')) %>
			</dd>
			<% end%>
		</dl>
	</div>
	<div class="span3">
		<% if job.company_logo? %>
		<ul class="thumbnails">
			<li class="span12">
				<div class="thumbnail">
					<%= image_tag job.company_logo.url(:thumb) %>
				</div>
			</li>
		</ul>
		<% end %>
	</div>
	<br/>
</div>
<div class="row-fluid">
	<div class="span12">
		<h3>Descripcion de la oferta</h3>
		<p>
			<%= simple_format(job.job_description) %>
		</p>
		<br/>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h3>Acerca de <%= job.company_name %></h3>
		<p>
			<%= simple_format(job.company_description) %>
		</p>
		<br/>
	</div>
</div>
<% if Job::POST == job.status %>
	<% unless job.resume_directly %>
	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<h3>Como aplicar a la oferta laboral</h3>
				<p>
					<%= job.application_details %>
				</p>
			</div>
		</div>
	</div>
	<% else %>
		<div class="row-fluid">
			<div class="span12">
				<div class="well well-small">
					<h3>Como aplicar a la oferta laboral</h3>
					<p>
						Enviar hoja de vida al correo electronico: <%= job.email_address %>
					</p>
				</div>
			</div>
		</div>
	<% end %>
<% end %>