<% if flash[:expire] or flash[:notice] or flash[:alert] %>
	<div class="row-fluid">
		<div class="span12">
			<% if flash[:expire] %>
				<div class="alert">
					<%= flash[:expire] %>
				</div>
			<% elsif flash[:alert] %>
				<div class="alert alert-error">
					<%= flash[:alert] %>
				</div>
			<% elsif flash[:notice] %>
				<div class="alert alert-success">
					<%= flash[:notice] %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>
<% if flash[:apply] %>
	<div class="row-fluid">
		<div class="span12">
			<div class="alert alert-success">
				<%= flash[:apply] %>
			</div>
		</div>
	</div>
<% end %>
<div class="row-fluid">
	<div class="span9">
        <h3><%= job.job_title %></h3>
		<p>
			<% job.technologies.each do |skill| %>
			<%= content_tag :span, skill.name, :class => 'label label-info' %>
			<% end %>
		</p>
		<dl class="dl-horizontal">
			<dt>
				<strong>Empresa:</strong>
			</dt>
			<dd>
				<%= link_to job.company_name, job.company_web_site, :target => '_blank' %>
			</dd>
			<dt>
				<strong>Ciudad:</strong>
			</dt>
			<dd>
				<%= job.location %>
			</dd>
			<% if job.job_types.length > 0 %>
			<dt>
				<strong>Tipo de contrato:</strong>
			</dt>
			<dd>
				<%= job.job_types.to_sentence %>
			</dd>
			<% end %>
			<dt>
				<strong>Salario:</strong>
			</dt>
			<% if job.salary_negotiable %>
			<dd>
				Negociable
			</dd>
			<% else %>
			<dd>
				<%= number_to_currency(job.salary_range_ini, :locale => :en, :unit => '$', :precision => 0).concat(' - ').concat(number_to_currency(job.salary_range_fin, :locale => :en,:unit => '$', :precision => 0)) %>
			</dd>
			<% end%>
		</dl>
	</div>
	<div class="span3">
		<% if job.company_logo_url %>
		<ul class="thumbnails">
			<li class="span12">
				<div class="thumbnail">
					<%= image_tag job.company_logo_url %>
				</div>
			</li>
		</ul>
		<% end %>
	</div>
	<br/>
</div>
<div class="row-fluid">
	<div class="span12">
		<h4>Descripcion de la oferta</h4>
		<p>
			<%= simple_format(job.job_description) %>
		</p>
		<br/>
	</div>
</div>
<div class="row-fluid">
	<div class="span12">
		<h4>Acerca de <%= job.company_name %></h4>
		<p>
			<%= simple_format(job.company_description) %>
		</p>
		<br/>
	</div>
</div>
<% if Job::POST == job.status %>
	<% unless job.resume_directly %>
	<div class="row-fluid">
		<div class="span12">
			<div class="well">
				<h3>Como aplicar a la oferta laboral</h3>
				<p>
					<%= job.application_details %>
				</p>
			</div>
		</div>
	</div>
	<% else %>
		<%= button_tag "Aplicar", :class => 'btn btn-success btn-large', 'data-toggle' => 'modal', 'data-target' => '#modalApply' %>
		<div id="modalApply" class="modal hide fade">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h3><%= job.job_title %></h3>
				<h4><%= job.company_name %></h4>
			</div>
			<%= simple_form_for job, :url => apply_job_path(job), :method => :post, :html => { :multipart => true } do |f| %>
				<%= f.input :job_title, :as => :hidden %>
				<%= f.input :email_address, :as => :hidden %>
				<%= f.input :id, :as => :hidden %>
				<%= f.simple_fields_for :seekers, job.seekers.build do |s| %>
					<div class="modal-body">
						<p>
							<%= s.error_notification %>
							<div class="form-inputs">
							  	<%= s.input :name, :autofocus => true, :input_html => { :class => 'span12', :value => cookies[:name] }, :label => false, :required => true %>
								<%= s.input :email, :input_html => { :class => 'span12', :value => cookies[:email] }, :label => false %>
								<%= s.input :cover_letter, :as => :text, :input_html => { :rows => 5, :class => 'span12', :value => cookies[:cover_letter] }, :label => false %>
								<div class="alert alert-info">
									Adjunte su currículum en formato PDF o MS Word
									<%= s.file_field :resume %>
								</div>
								<%= s.input :notification, :wrapper => :inline_checkbox, :as => :boolean %>
							</div>
						</p>
					</div>
				<% end %>
				<div class="modal-footer">
					<%= f.button :submit, 'Enviar', :class => 'btn btn-primary', :name => nil %>
				</div>
			<% end %>
		</div>
	<% end %>
<% end %>