<%- model_class = Job.new.class -%>
<div class="row-fluid">
	<div class="span9">
		<div class="page-header">
			<h2>Mis ofertas laborales</h2>
		</div>
		<p class="pull-right">
			<%= link_to 'Publicar nueva oferta', new_job_path, :class => 'btn btn-primary' %>
		</p>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Oferta Laboral</th>
					<th>Estado de publicación</th>
					<th>Opciones</th>
				</tr>
			</thead>
			<tbody>
				<% @jobs.each do |job| %>
				<tr>
					<td><%= link_to job.job_title, job_path(job) %></td>
					<td><%= status(job) %></td>
					<td>
					<div class="btn-group">
						<%= link_to 'Editar', edit_job_path(job), :class => 'btn' %>
						<button class="btn dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu">
							<% if Job::DEFAULT == job.status %>
							<li>
								<%= link_to 'Publicar', post_job_path(job), :method => :put, :confirm => 'Su oferta laboral sera publicada por un periodo de 30 dias, pasado este tiempo finalizara automáticamente.' %>
							</li>
							<% end %>
							<% if Job::DEFAULT == job.status or Job::EXPIRE == job.status %>
							<li>
								<%= link_to 'Eliminar', job_path(job), :method => :delete, :confirm => 'Su oferta laboral sera eliminada permanentemente, esta seguro?' %>
							</li>
							<% end %>
							<% if Job::EXPIRE == job.status %>
							<li>
								<%= link_to 'Republicar', post_job_path(job), :method => :put %>
							</li>
							<% end %>
							<% if Job::POST == job.status %>
							<li>
								<%= link_to 'Finalizar', expire_job_path(job), :method => :put %>
							</li>
							<% end %>
						</ul>
					</div></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="span3">
		<%= render @contact %>
		<br />
		<br />
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9287817861975219";
		/* COLDEV_ADMIN */
		google_ad_slot = "2568379694";
		google_ad_width = 250;
		google_ad_height = 250;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>