<div class="content">
	<div class="row">
		<% if user_signed_in? and current_user.id == @job.user_id %>
			<div class="span12">
				<ul class="breadcrumb">
					<li>
					<%= link_to "Mis ofertas laborales", admin_jobs_path %><span class="divider">/</span>
				</li>
				<li>
					<%= link_to "Crear una oferta de empleo", edit_job_path %><span class="divider">/</span>
				</li>
				<li class="active">
					Vista previa
				</li>
				</ul>
			</div>
			<div class="span12">
				<div class="alert alert-success">
					<h3>Vista previa de su oferta laboral</h3>
					<p>
						Aquí está una vista previa de su oferta laboral. Puede editar nuevamente la informacion, luego puedes dar click en "Publicar oferta laboral" cuando estás satisfecho.
					</p>
					<p>
						<%= link_to 'Editar', edit_job_path(@job), :class => 'btn btn-primary' %>
						<% if @job.status == 1 %>
							<%= link_to 'Publicar oferta', '#confirmModal', :class => 'btn', :role => 'button', 'data-toggle' => 'modal' %>
						<% end %>
						<% if @job.status == 3 %>
							<%= link_to 'Republicar oferta', post_job_path(@job), :class => 'btn', :method => :put %>
						<% end %>
					</p>
				</div>
				<p>Estado de oferta laboral: <%= status (@job) %></p>
				<div id="confirmModal" class="modal hide fade">
					<div class="modal-header">
				    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				    	<h3>Publicación de oferta</h3>
				  	</div>
				  	<div class="modal-body">
  						<p>Su oferta laboral sera publicada por un periodo de <strong>30 dias</strong>, pasado este tiempo finalizara automáticamente.</p>
  						<p>Puede republicar, finalizar o eliminar sus ofertas laborales desde la opción <strong>Mis ofertas laborales</strong></p>
				  	</div>
				  	<div class="modal-footer">
						<%= link_to 'Publicar', post_job_path(@job), :class => 'btn btn-info', :method => :put %>
				  	</div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row-fluid">
		<div class="span9">
			<%= render @job %>
		</div>
		<div class="span3">
			<!-- Redes sociales oferta -->
			<div class="well" style="padding: 8px 0;">
				<ul class="nav nav-list">
					<li class="nav-header">
						Siganos en las redes sociales
					</li>
					<li>
						<a href="#"><i class="icon-twitter"></i> Twittear esta oferta</a>
					</li>
					<li>
						<a href="#"><i class="icon-facebook"></i> Compartir en Facebook</a>
					</li>
					<li>
						<a href="#"><i class="icon-linkedin"></i> Compartir en Linkedin</a>
					</li>
					<li>
						<a href="#"><i class="icon-google-plus"></i> Compartir en Google plus</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>