<div class="row-fluid">
	<div class="span8">
		<!--Body content-->
		<div id="myCarousel" class="carousel slide" style="margin-bottom: 0px;">
			<div class="carousel-inner">
              	<div class="item active">
              		<%= image_tag('buscar_desarrolladores_colombia.png') %>
                	<div class="carousel-caption">
                  		<h4>Buscamos talentos!</h4>
                  		<p>El mejor recurso profesional de software lo encuentras aquí.</p>
                	</div>
              	</div>
              	<div class="item">
					<%= image_tag('empleos_software_colombia.png') %>
					<div class="carousel-caption">
						<h4>Colombiandeveloper</h4>
						<p>Las tecnologías fuente de generación de empleo y productividad para Colombia.</p>
					</div>
				</div>
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		</div>
		<%= form_tag jobs_path, :method => :get, :class => 'well well-custom form-search' do %>
			<div class="input-prepend">
				<span class="add-on"><i class="icon-search"></i></span><%= text_field_tag 'skill', '', :class => 'input-xlarge search-query', :placeholder=>'ej. java' %>
			</div>
			<div class="input-prepend">
				<span class="add-on"><i class="icon-search"></i></span><%= text_field_tag 'job[location]', '', :class => 'input-xlarge search-query', :placeholder=>'ej. Bogotá, Bogotá D.C., Colombia' %>
			</div>
			<%= button_tag "Buscar", :disable_with => "Buscando...", :class => 'btn btn-primary' %>
		<% end %>
		<p>
			<strong>Tecnologias: </strong>
			<%= @presenter.top_skills.map do |skill|
          		link_to skill, jobs_path({:skill => skill.name})
        		end.to_sentence(:words_connector => ' - ', :last_word_connector => ' - ').html_safe %>
		</p>
		<div class="row-fluid">
			<div class="span6">
				<!-- Ofertas de empleo urgentes -->
				<div class="page-header">
					<h3 style="line-height: 10px; ">Ofertas de empleo urgentes</h3>
				</div>
				<%= jobs(@presenter.urgent_jobs) %>
				<p class="pull-right">
					<%= link_to 'Mas ofertas urgentes...', jobs_path(:order => 'urgent') %>
				</p>
			</div>
			<div class="span6">
				<!-- Ultimas ofertas de empleo -->
				<div class="page-header">
					<h3 style="line-height: 10px; ">Ultimas ofertas de empleo</h3>
				</div>
				<%= jobs(@presenter.last_jobs) %>
				<p class="pull-right">
					<%= link_to 'Mas ofertas de empleo...', jobs_path(:order => 'last') %>
				</p>
			</div>
		</div>
	</div>
	<div class="span4">
		<!-- Mantengase actualizado -->
		<!--div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				<li class="nav-header">
					Siganos en las redes sociales
				</li>
				<li>
					<a href="#"><i class="icon-twitter"></i> Twitter</a>
				</li>
				<li>
					<a href="#"><i class="icon-facebook"></i> Facebook</a>
				</li>
				<li>
					<a href="#"><i class="icon-linkedin"></i> Linkedin</a>
				</li>
			</ul>
		</div-->
		<!-- Buscadores de talentos -->
		<div>
			<div class="page-header">
            	<h3 style="line-height: 10px; ">Buscadores de talentos!</h3>
          	</div>
			<p>
				<span class="help-block">¿Está buscando un desarrollador de software? Ha venido al lugar correcto.</span>
				<%= link_to "Publicar oferta de trabajo", new_job_path, :class => "btn btn-large btn-success"%>
			</p>
		</div>
		<!-- Estudiantes, Personas sin experiencia -->
		<div>
			<div class="page-header">
            	<h3 style="line-height: 10px; ">Estudiantes y recien graduados</h3>
          	</div>
			<ul class="thumbnails">
				<li class="span12">
					<div class="thumbnail">
						<div style="text-align: center;">
							<%= image_tag("empleo_software_estudiantes.jpg", :class=> 'img-polaroid' ) %>
						</div>
						<div class="caption">
							<p>
								Buscamos hoy a los ingenieros del mañana!. ¿Qué tipo de trabajo está buscando?
							</p>
							<p>
								<%= link_to "Ver ofertas de #{@presenter.random_company.company_name}...", jobs_path({:company_name => @presenter.random_company.company_name?}) if @presenter.random_company.present?%>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<% unless @presenter.random_company.nil? %>
		<div>
			<!-- Empresas destacadas -->
			<div class="page-header">
            	<h3 style="line-height: 10px; ">Empresas destacadas</h3>
          	</div>
			<ul class="thumbnails">
				<li class="span12">
					<div class="thumbnail">
						<div style="text-align: center;">
							<%= link_to image_tag(@presenter.random_company.company_logo.url(:medium)), jobs_path({:company_name => @presenter.random_company.company_name}) %>
						</div>
						<div class="caption">
							<h5><%= @presenter.random_company.company_name %></h5>
							<p>
								<%= truncate(strip_tags(@presenter.random_company.company_description), :length => 200) %>
							</p>
							<p>
								<%= link_to "Ver ofertas de #{@presenter.random_company.company_name}...", jobs_path({:company_name => @presenter.random_company.company_name}) %>
							</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<% end %>
	</div>
</div>