<div class="row-fluid">
	<div class="span12">
		<h2>Iniciar sesión</h2>
		<p>
			Por favor, introduzca su dirección de correo electrónico y contraseña para iniciar sesión
		</p>
	</div>
</div>
<br />
<div class="row-fluid">
	<div class="span4">
		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :class => 'alert alert-error' %>
			<% end %>
			<%= f.error_notification %>
			<div class="form-inputs">
				<%= f.input :email, :required => true, :autofocus => true, :input_html => { :class => 'input-large' }, :hint => false %>
				<%= f.input :password, :required => true, :input_html => { :class => 'input-large' }, :hint => false %>
				<% if devise_mapping.rememberable? -%>
					<%= f.input :remember_me, :wrapper => :inline_checkbox, :as => :boolean %>
	  			<% end -%>
			</div>
			<%= f.button :submit, "Iniciar sesión" %>
		<% end %>
		<%= render "devise/shared/links" %>
	</div>
	<div class="span8">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-9287817861975219";
		/* COLDEV_PPAL */
		google_ad_slot = "2635545042";
		google_ad_width = 336;
		google_ad_height = 280;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>